doctype html
head
	meta(charset='utf-8')
	meta(name='description' content='')
	meta(name='keywords' content='')
	meta(name='viewport' content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no')
	meta(content='telephone=no' name='format-detection')
	// if IE meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	// if lt IE 9 script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js')
	title jQuery plugin for ...
	link(href='/css/example.min.css' rel='stylesheet')
	link(href='/css/jquery.' + plugin + '.min.css' rel='stylesheet')
body
	.example
		.example__middle
			.my-plugin MyPlugin
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js')
	script(src='/js/jquery.' + plugin + '.min.js')
	script(src='/js/example.min.js')
